<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hashsassins</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h1>Hashsassins</h1>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span8">
          <%= yield %>
        </div>
        <div class="span4">
          
        </div>
      </div>
    </div>
  </body>
</html>
